<!DOCTYPE html>
<html>
<head>
  <title>Rails30</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>ENV</h1>
<table border="1" cellpadding="10">
  <tbody>
    <% ENV.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= yield %>

</body>
</html>
